.theme{
background-color: rgb(40, 179, 179);
text-align:center;
font-family:'Roboto Slab', serif;
color:white
}
.left{
float:left;
}

.right{
float:right;
}
.big{
font-size:26px
}


.title{
    padding-top:20%;
    }
/* .space{
padding-left:30%;
padding-right:30%; */
.colour{
color: lightgrey
}
.move{
transform: rotate(90deg);
}